@plugin "@iconify/tailwind4";

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Metrophobic&family=Monoton&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-bebas: 'Bebas Neue';
  --font-poppins: 'Poppins';
  --font-montserrat: 'Montserrat';
  --font-quicksand: 'Quicksand';
  --font-lobster: 'Lobster';
  --font-monoton: 'Monoton';
  
  --breakpoint-sm: 481px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1281px;
}

@utility button-icon {
  @apply size-12 disabled:opacity-20;
  &>* {
    @apply size-full;
  }
  &:not(*:disabled) {
    @apply hover:scale-120 active:scale-120 active:mix-blend-difference;
  }
}

@utility centerx {
  @apply left-1/2 -translate-x-1/2;
}

@utility centery {
  @apply top-1/2 -translate-y-1/2;
}

@utility mask-* {
  -webkit-mask-image: --value([*]);
  mask-image: --value([*]);
}

@utility mask-cover {
  mask-size: cover;
}

@utility mask-center {
  mask-position: center;
}

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
      @apply hidden;
  }
}
